@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Nunito&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --font-primary: 'Alata', sans-serif;
    --font-secondary: 'Nunito', sans-serif;
    --primary: #febf63;
    --secondary: #ede682;
    --light: #ade498;
    --dark: #7fdbda;
}

.container {
    background: var(--primary);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#drum-machine {
    background: var(--light);
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 2%;
    box-shadow: 0px 0px 25px 8px rgba(0, 0, 0, 0.51);
}
